<h1>Marcas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.name, brand %> (<%= brand.total_vehicles %>)</td>
        <td><%= link_to (icon('edit')+'Editar'), edit_brand_path(brand), class: 'btn btn-warning' %></td>
        <td><%= link_to (icon('remove')+'Eliminar'), brand, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to icon('plus')+'Nueva Marca', new_brand_path, class: 'btn btn-success' %>
